.list-grid
{
	background-color:#fff;
 	border:solid 2px #a5a4bd;        	
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	width: 500px;
}

.list-grid .titlebar
 {
 	background: #8988a5 url(../Images/title-bg.gif);
 	border-bottom: solid 1px #57566f;
 	height: 28px;
 	line-height: 28px;
 	padding: 0px 5px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	display: block;
 }
 
 .list-grid .datatable 
{	
	width:100%; 
	empty-cells: show;
	border-collapse: collapse;
}
 
 .list-grid .datatable .header TH
 {
 	background:#e9e9eb url(../Images/header-bg.gif);
 	height: 24px;
 	line-height: 24px;
 	padding-left: 6px;
 	color: #666666;
 	text-align: left;
 	white-space: nowrap;
 }
 
 .list-grid .datatable .datarow TD
 {
 	padding: 6px 0 6px 6px;
 	color: #666666;
 	text-align: left;
 	white-space: nowrap;
    border-bottom: 1px solid #dedede;
 }
 
 .rounded_corners
    {
        border: 1px solid #A1DCF2;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        overflow: hidden;
    }
    .rounded_corners td, .rounded_corners th
    {
        border: 1px solid #A1DCF2;
        font-family: Arial;
        font-size: 10pt;
        text-align: center;
    }
    .rounded_corners table table td
    {
        border-style: none;
    }